
<!-- index.hbs -->
<main id="intro">
        <section>
            <h2>TechTravels</h2>

            <article class="descriptions">
                <h3>Overview</h3>
                <p>
                TechTravels is a global online travel agency that connects customers with specialized travel agents to make their dream
                destinations a reality. Our remote agents are eager to advise and plan trips for their customers in several forms
                whether it be via phone, video call, email, messaging, or in-person meetings.  </p>
                
                <p>According to the US Travel Association,
                international travel spending reached $93 billion in February, following the pandemic.<code>[1]</code> 
                By 2023, it is estimated that 700
                million people will book their travel online, with 83% being Americans.<code>[2]</code> 
                TechTravels has a team of 200 agents who book
                over 100,000 trip reservations annually and is expected to grow over time.</p>
                
                <p> Our database-driven website will track our
                Customers and their Reservation details, such as Location, dates, and the travel Agents they are working with. That way,
                we will be able to monitor how many customers we have and their information, where our customers want to travel, and the
                number of reservations handled by each agent. Our database will also future-proof opportunities we may want to feature
                or enable such as studying trends of popular destinations or running reports to see which geographical area most of our
                customers come from.
                </p>

                <p class="footnotes">
                    <strong>[1]</strong> Mageau, Jamie. “The Latest Travel Data.” U.S. Travel Association, 30 Mar. 2023,
                    https://www.ustravel.org/research/monthly-travel-data-report.
                    <br>
                    <strong>[2]</strong> “Top Guide to over 80 Online Travel Booking Statistics.” ConnollyCove, 22 Aug. 2022,
                    https://www.connollycove.com/online-travel-booking-statistics/.
                </p>

            </article>
            <br>

            <article class="descriptions">
                <h3>Entity-Relationship Diagram (ERD)</h3>

                <img src="../images/erd.jpg" alt="erd" title="ERD">
                <figcaption>Figure 1: TechTravels ERD</figcaption>
            </article>

            <br>
            <article class="descriptions">
                <h3>Schema</h3>
            
                <img src="../images/schema.jpg" alt="schema" title="Schema">
                <figcaption> Figure 2: TechTravels Schema</figcaption>
            </article>

            <br>
            <br>
            <article class="descriptions">
                <h3>Entity Table Descriptions</h3>
                <dl>
                    <dt><a href="/customers">Customers</a></dt>
                    <dd>
                        Records the details of customers wanting their travels booked by us.
                    </dd> 

                    <dt><a href="/agents">Agents</a></dt>
                    <dd>
                        Keeps track of our travel agents and their details.
                    </dd>

                    <dt><a href="/locations">Locations</a></dt>
                    <dd>
                        A categorical table of cities and their respective countries to keep track of where our customers want to travel and
                        where our travel agents are based.
                    </dd>

                    <dt><a href="/reservations">Reservations</a></dt>
                    <dd>
                        Records the details of customers’ travel reservations, which places they want to go and when, and which agent they are
                        working with.

                    </dd>

                    <dt><a href="/customerReservation">CustomerReservations</a></dt>
                    <dd>
                        An intersection table depicting the M:N relationships between Customers and their Reservations.
                    </dd>

                    <dt><a href="/reservationLocation">ReservationLocations</a></dt>
                    <dd>
                        An intersection table depicting the M:N relationships between a Reservations and it's location.
                    </dd>

                </dl>
            </article>
        </section>
    </main>
